## ignore all files
*
## ignore all folders
!/**/
## include all *.c files in root and subfolders
!*.py
!stock_basic.csv
#!*.txt
!*.bat
!.gitignore
#exclude folders
!
/vs2017/
## include *.py in all folders(subfolders)
#!*.py
#!/sw/*.c